.text-field, .password-field {
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 8;
    -fx-font-size: 14px;
    -fx-background-color: #161a2b;
    -fx-border-color:  #4a4467;
}
.text-field:focused, .password-field:focused {
    -fx-border-width: 3;

}

#button-login {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-size: 14px;
    -fx-background-color: #0c1229;
    -fx-text-fill: white;
}
#button-login:hover {
    -fx-border-color: #e9ebf7;
    -fx-border-width: 2;
    -fx-background-color: #1a2340;
}
#button-login:pressed {
    -fx-background-color: #0a0f20;
    -fx-border-color: #252d4a;
}

#loginregistro{
    -fx-text-fill: white;

}
#loginregistro:hover {
    -fx-text-fill: #678bff;
    -fx-underline: true;

}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}
